.DS_Store
doc
.*.swp
.yardoc
.rvmrc
config.yaml
featured.yaml
tmp
repos
remote_gems
recent.sqlite
sinatra.log
public/docs
public/gems
public/github
public/list
public/.htaccess
public/sitemap.xml
public/css/style.css
public/css/full_list.css
public/css/custom.css
public/css/common.css
public/js/app.js
public/js/autocomplete.js
public/js/live.js
public/js/full_list.js
public/js/jquery.js
public/images/processing.gif
