# Sample configuration file

# Display name. Defaults to RubyDoc.info
# name: RubyDoc.info

# Base URL. Defaults to http://rubydoc.info
# url: http://rubydoc.info

# If you have Hoptoad, uncomment the following line and add your API key:
# hoptoad: YOUR_API_KEY

# If you want to use Clicky, uncomment the following line and add your Site ID:
# clicky: YOUR_SITE_ID

# If you want to use Google Analytics, uncomment the following line and add
# your Site ID:
# google_analytics: YOUR_SITE_ID

# To display a sponsor link / image, uncomment the following line and add an
# image named #{sponsor-site.com}.png to the public/images/sponsor directory.
# sponsor: linode.com
