body {
  display: block;
  overflow: auto;
  margin: 12px;
  width: auto;
  height: auto;
}

h2 { font-size: 1.6em; }
a { outline: none; }

#projects { font-size: 1.4em; list-style: circle; }

#projects { list-style-position: inside; padding-left: 0; list-style: none; margin-left: 0; }
#projects li { padding: 7px 15px; font-size: 1.1em; }

.libraries { list-style: none; padding: 0; }
.libraries li { font-size: 1.2em; line-height: 1.4em; padding: 3px 5px; }
.libraries ul { padding: 0; margin-bottom: 5px; }
.libraries ul li { list-style: none; line-height: 0.9em; font-size: 1.05em; padding: 3px 5px; font-weight: normal; padding-left: 25px; }
.libraries ul { background: #eee; }
.libraries { list-style: none; }
.libraries li { line-height: 2em; border-bottom: 1px solid #ddd; }
.libraries ul li { padding-bottom: 6px; background: #f0f0f0; }
.libraries ul { padding-bottom: 10px; background: transparent; }
.libraries li:hover { background: #eef; }
.libraries li.alternate, .libraries li.alternate:hover { background: transparent; }
.libraries li.alternate_fork img { position: relative; top: -3px; }
.libraries li a:hover { background: transparent; color: #3ae; }
.libraries li.core > a:first-child { font-weight: bold; }
.libraries .icon { width: 16px; height: 16px; position: relative; float: right; top: 6px; border: 1px solid #ccc; background: #eee; padding: 2px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-left: 3px; }
.libraries a:hover .icon { background: #fff; }

.alpha_index { display: block; padding-left: 0; font-size: 1.2em; }
.alpha_index li {
  display: inline;
  padding: 0 1px;
}
.alpha_index li.selected {
  padding: 3px 4px;
  margin-right: 0;
  background: #dedede;
}
.alpha_index li a {
  padding: 3px 4px;
  margin-right: 0;
  background: #eee;
}

#navigation { display: block; padding-left: 0; font-size: 1.2em; }
#navigation li {
  display: inline;
  margin-right: 4px;
}
#navigation li.selected {
  padding: 6px;
  background: #dedede;
}
#navigation li a {
  padding: 6px;
  background: #eee;
}
#navigation li form {
  display: inline;
}
#navigation li input {
  height: 25px;
  border: 1px solid #dedede;
  font-size: 14px;
  color: #ababab;
  padding: 2px 5px;
  width: 200px;
}

#content h1 { margin: 0; }
#content h2 { margin-top: 0.8em; }

#advanced_options { margin: 0; display: block; border: none; color: #111; }
.extra_options { display: none; }

.sponsor { margin-top: 12px; }
.sponsor p { padding: 0; margin: 0; margin-bottom: 9px; }
.sponsor a { margin-right: 9px; }
.sponsor a:last { margin-right: 0; }
.sponsor img { padding: 10px; border: 1px solid #eee; border-radius: 12px; }
#footer { border-top: 0; margin-top: 20px; }
#footer .sponsor a { border: 0; }

#content.fof h1 { margin-bottom: 0; font-size: 3em; }
#content.fof h2.nomargin { margin-top: 0; border: 0; font-size: 1.2em; color: #888; margin-bottom: 20px; }
#content.fof.scm #rubydoc_checkout { display: block; position: relative; top: 0; right: 0; margin: 40px 0; }
