<% if !@search %>
  <div class="tabbed-links alpha">
    <% (?a..?z).each do |letter| %>
      <% if letter == @letter %>
        <span class="selected"><%= letter.upcase %></span>
      <% else %>
        <%= link_to letter.upcase, letter: letter.downcase %>
      <% end %>
    <% end %>
    <% if controller_name == 'github' %>
      <% if @letter.blank? %>
        <span class="selected">Latest</span>
      <% else %>
        <%= link_to "Latest", github_index_path %>
      <% end %>
    <% end %>
  </div>
<% end %>
