# Sample configuration file

# Display name. Defaults to RubyDoc.info
# name: RubyDoc.info

# Base URL. Defaults to http://www.rubydoc.info
# url: http://www.rubydoc.info

# Whether or not disk caching is enabled. Defaults to false
# caching: false

# If you want to enable Rubygems.org gem push notifications, uncomment the
# following line and add your API key:
# rubygems: YOUR_API_KEY

# If you use DISQUS for comments, uncomment the following line:
# disqus: YOUR_DISQUS_USERNAME

# If you want to use Clicky, uncomment the following line and add your Site ID:
# clicky: YOUR_SITE_ID

# If you want to use Google Analytics, uncomment the following line and add
# your Site ID:
# google_analytics: YOUR_SITE_ID

# If you want to add a Tender help desk support link, uncomment the following
# line and add your Site ID:
# tender: YOUR_SITE_ID

# To display a sponsor link / image, uncomment the following line and add an
# image named #{sponsor-site.com}.png to the public/images/sponsor directory.
# sponsor: linode.com

# To add a "Featured" section to the site with a set of statically generated
# YARD documentation directories, add your own projects below followed by the
# path to the library root relative to repos/featured. You can also use an
# absolute path.
#
# featured:
#   yard: yard
#   ruby: /path/to/ruby_core
#
# You can also add libraries by version:
#
# featured:
#   yard:
#     0.6.4: /path/to/yard/0.6.4
#     0.6.0: /path/to/yard/0.6.0

# Projects / gems that are whitelisted for template and non-plugin code execution:
# whitelisted_projects:
#   - lsegal/yard
#
# whitelisted_gems:
#   - yard

# Projects / gems that are blacklisted from the site
# disallowed_projects:
#   - user/projectname
#
# disallowed_gems:
#   - gemname

# Custom gem server
# gem_source: https://rubygems.org/
