<div id="checkout">
  <h2>Add your own project</h2>
  <small class="example">(eg. git://github.com/lsegal/yard.git)</small>
  <form id="checkout_form" action="/checkout" method="post">
    <input class="url" type="text" id="url" name="url" placeholder="git://github.com/username/project" /> 
    <div class="loadicon"></div>
    <input type="hidden" id="scheme" name="scheme" value="git" />
    <br/>
    <small>Commit (optional): <input type="text" id="commit" name="commit" value="" /></small>
    <input type="submit" id="submit" value="Go" />
  </form>
  <script type="text/javascript" charset="utf-8">
    if (jQuery.browser.safari) $('#checkout_form .url').css('width', '225px');
  </script>
</div>
