<div id="menu"><a href='/' target="_top">Back to project list</a></div>

<div id="content" class="error">
  <h1 class="title noborder"><%= h settings.name %> sez</h1>
  <h1>Oops! A Problem Occurred</h1>

  <p class="note <%= @class || 'deprecated' %>"><%= @error %></p>
</div>
