<div id="content" class="scm fof">
  <h1>Oops,</h1>
  <% if settings.featured_adapter.libraries.has_key?(@libname) %>
    <h2 class="nomargin">We Couldn't Find That Page</h2>
    <p>Sorry, but we couldn't find the page <strong><%= h request.path %></strong> in <strong><%= h @libname %></strong>. Are you sure that class, method, or file exists?</p>
  <% else %>
    <h2 class="nomargin">We Couldn't Find That Library</h2>
    <p>We can't seem to find any versions for the <strong><%= h @libname %></strong>. Are you sure you typed it correctly?</p>
  <% end %>

  <p>You can also see a list of featured libraries <a href="/featured">here</a>.</p>
</div>
