<div id="content" class="scm fof">
  <h1>Oops,</h1>
  <% if settings.gems_adapter.libraries.has_key?(@gemname) %>
    <h2 class="nomargin">We Couldn't Find That Page</h2>
    <p>Sorry, but we couldn't find the page <strong><%= h request.path %></strong> in the <strong><%= h @gemname %></strong> gem. Are you sure that class, method, or file exists?</p>
  <% else %>
    <h2 class="nomargin">We Couldn't Find That Gem</h2>
    <p>We can't seem to find any versions for the gem <strong><%= h @gemname %></strong>. Are you sure you typed it correctly?</p>
  <% end %>

  <p>You can also see a list of available RubyGems <a href="/gems">here</a>.</p>
</div>
