<div id="content">
  <div id="maintitle">
    <h1>yardoc.org/docs <small><a href="/">(Back to YARD)</a></small></h1>
    <p>Documentation for your favourite Ruby libraries.</p>
  </div>
  
  <p class="todo note info"><strong>Note:</strong>
    We <big>&hearts;</big> <a href="http://rdoc.info">rdoc.info</a>. The plan
    is to merge the awesome stuff back into that project.
    So <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#121;&#97;&#114;&#100;&#111;&#99;&#64;&#103;&#111;&#111;&#103;&#108;&#101;&#103;&#114;&#111;&#117;&#112;&#115;&#46;&#99;&#111;&#109;'>tell us</a>
    what you love, or hate!</p>

  <div id="project_list">
    <h2>Project List</h2>
    <a href="/github">Github</a> | <a href="/gems">RubyGems</a>
  </div>
  
</div>
