<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <title>YARD Documentation Server <%= YARD::VERSION %> - Library Listing</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/projects.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/project_checkout.js"></script>
    <script type="text/javascript">
      function framesLinks() {
        $('#framelink').toggle(function() {
          $(this).text('links with frames');
          $('#libraries li a').each(function() {
            $(this).attr('href', $(this).attr('href').replace(/\/frames$/, ''));
          });
        }, function() {
          $(this).text('links without frames');
          $('#libraries li a').each(function() {
            $(this).attr('href', $(this).attr('href') + '/frames');
          });
        })
      }

      $(framesLinks);
    </script>
    <style type="text/css" media="screen">
      ul { list-style: circle inside none; padding: 0; }
      li { font-size: 1.2em; line-height: 1.4em; padding: 3px 5px; }
    </style>
  </head>
  <body>
    <%= yield %>

    <div id="footer">Powered by <a href="/">yard</a> <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>)</div>
  </body>

  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">clicky.init(151617);</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/151617ns.gif" /></p></noscript>
</html>
