<% if Rubydoc.config.integrations.clicky %>
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">
    clicky.init(<%= Rubydoc.config.integrations.clicky %>);
  </script>
  <noscript>
    <p><img alt="Clicky" width="1" height="1" src="http://static.getclicky.com/<%= Rubydoc.config.clicky %>ns.gif" /></p>
  </noscript>
<% end %>
<% if Rubydoc.config.integrations.google_analytics %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rubydoc.config.integrations.google_analytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    if (window.gtag) {
      gtag('event', 'page_view', {
        page_title: document.title,
        page_location: window.location.href,
      });
    } else {
      function gtag(){dataLayer.push(arguments);}
      gtag('consent', 'update', {
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'ad_storage': 'denied',
      'analytics_storage': 'denied'
      });
      gtag('js', new Date());
      gtag('config', '<%= Rubydoc.config.integrations.google_analytics %>');
    }
  </script>
<% end %>
